Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.orig
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/*.dotCover
*.DotSettings
OttoOutput/*
packages*/

/otto-v2/OBRelease_v2.3.0-support/OttoOutput
/otto-v2/OBRelease_v2.3.0-support/OttoCore/packages/*
OttoCore/packages/*
OttoCore/Presentation/ScreenGeneration/UI/WebAppUI/Plugins/*
!OttoCore/Presentation/ScreenGeneration/UI/WebAppUI/Plugins/bin/readme.txt
Packaging/Packed/*.nupkg
OttoCore/Backup/Tests
OttoCore/.vs
