<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net46" />
  <package id="Moq" version="4.0.10827" targetFramework="net46" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net46" />
  <package id="UnityAutoMoqPlus" version="3.0.0" targetFramework="net46" />
</packages>